<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        LGSMS-Cart
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="#"><img src="/images/logoNgang.PNG" width="125px" height="auto" alt=""></a>
                </div>
                <nav>
                    <ul>
                        <li>
                            <form>
                                <input type="text" placeholder=" Nhập từ khóa...">
                                <a class="button-search"><i class="fas fa-search"></i></a>
                            </form>
                        </li>
                    </ul>

                    <ul id="menuItems">
                        <li>
                            <a href="home.html"><i class="fa fa-home" aria-hidden="true"></i> Trang Chủ</a>
                        </li>
                        <li><a href="product_list.html">Sản Phẩm</a></li>

                        <li><a href="account.html">Tài Khoản</a></li>
                    </ul>
                </nav>
                <a href="cart.html"><i class="fa fa-shopping-cart" ></i></a>
                <img src="/images/menu.png" alt="" class="menu-icon" onclick="menutoggle()">
            </div>

        </div>
    </div>


    <!-- cart item detail-->
    <div class="small-container cart-page">
        <h2>GIỎ HÀNG CỦA BẠN</h2>
        <table>
            <tr>
                <th>Sản phẩm</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
            </tr>
            <tr>
                <td>
                    <div class="cart-info">
                        <img src="/images/buy-1.jpg">
                        <div class="">
                            <p>Product Name</p>
                            <small>Product price</small><br>
                            <a href="#">Xóa</a>
                        </div>
                    </div>
                </td>
                <td><input type="number" value="1" min="1"></td>
                <td>$50</td>
            </tr>
            <tr>
                <td>
                    <div class="cart-info">
                        <img src="/images/buy-2.jpg">
                        <div class="">
                            <p>Product Name</p>
                            <small>Product price</small><br>
                            <a href="#">Xóa</a>
                        </div>
                    </div>
                </td>
                <td><input type="number" value="1" min="1"></td>
                <td>$50</td>
            </tr>
            <tr>
                <td>
                    <div class="cart-info">
                        <img src="/images/buy-3.jpg">
                        <div class="">
                            <p>Product Name</p>
                            <small>Product price</small><br>
                            <a href="#" value="remove">Xóa</a>
                        </div>
                    </div>
                </td>
                <td><input type="number" value="1" min="1"></td>
                <td>$50</td>
            </tr>
        </table>
        <div class="total-price">
            <table>
                <tr>
                    <td>Tổng tiền sản phẩm</td>
                    <td>$200.00</td>
                </tr>

                <tr>
                    <td>

                    </td>
                    <td> <button type="submit" class="button-cart">Mua hàng</button></td>
                </tr>
            </table>
        </div>
    </div>


    </div>
    <!-- footer-->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <img src="/images/logoDoc.PNG" alt="">
                </div>
                <div class="footer-col-2">
                    <h3>Sản phẩm</h3>
                    <ul>
                        <li> <a href="#!" class="">Tất cả sản phẩm</a></li>
                        <li> <a href="#!" class="">Sản phẩm bán chạy</a></li>
                        <li> <a href="#!" class="">Sản phẩm mới</a></li>
                        <li> <a href="#!" class="">Sản phẩm khuyến mại</a></li>

                    </ul>
                </div>

                <div class="footer-col-3">
                    <h3>Liên hệ</h3>
                    <ul>
                        <li> <a href="#!" class=""><i class="fa fa-home" aria-hidden="true"></i> 412 Ngọc Thụy, Long Biên, Hà Nội</a></li>
                        <li> <a href="#!" class=""><i class="fa fa-envelope" aria-hidden="true"></i> vanhsibungas@petro.com</a></li>
                        <li> <a href="#!" class=""><i class="fa fa-phone-square" aria-hidden="true"></i> +01 234 567 88</a></li>
                        <li> <a href="#!" class=""><i class="fa fa-phone-square" aria-hidden="true"></i> +01 234 567 89</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--js for toggle menu-->
    <script>
        var menuItems = document.getElementById("menuItems");
        menuItems.style.maxHeight = "0px";

        function menutoggle() {
            if (menuItems.style.maxHeight == "0px") {
                menuItems.style.maxHeight = "200px";
            } else {
                menuItems.style.maxHeight = "0px";
            }
        }
    </script>

</body>

</html>