<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        LGSMS-CheckOut
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link href="../css/fnon.min.css" rel="stylesheet">
    <link href="../css/custom_box.css" rel="stylesheet">

</head>

<body>
    <div class="header">
        <div include-html="header.html" id="header"></div>
    </div>
    <!--Check CheckOut-->
    <div class="small-container row-checkout">
        <div class="col-75">
            <div class="container-checkout">
                <form action="/action_page.php" id="form">
                    <div class="row-checkout">
                        <div class="col-50">
                            <h3>Thông tin giao hàng</h3>
                            <div class="form-group">
                                <label for="fname"><i class="fa fa-user"></i> Tên*</label>
                                <input type="text" id="fname" name="firstname" placeholder="John M. Doe"  maxlength="50">
                                <div class="fail"></div>
                            </div>
                            <div class="form-group">
                                <label for="phone"><i class="fa fa-phone"></i> Điện thoại*</label>
                                <input type="text" id="phone" name="phone" placeholder="0123456789"  maxlength="15">
                                <div class="fail"></div>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="fa fa-envelope"></i> Email<small>(tùy chọn)</small></label>
                                <input type="text" id="email" name="email" placeholder="john@example.com"  maxlength="50">
                                <div class="fail"></div>
                            </div>
                            <div class="form-group">
                                <label for="adr"><i class="fa fa-address-card"></i> Địa chỉ*</label>
                                <input type="text" id="adr" name="address" placeholder="542 W. 15th Street"  maxlength="255">
                                <div class="fail"></div>
                            </div>
                            <div class="form-group">
                                <label for="note"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Ghi
                                    chú<small>(tùy chọn)</small></label>
                                <input type="text" id="note" name="note" placeholder="something"  maxlength="500">
                            </div>
                            <p class="checkout_note">Quý khách hàng lưu ý phần <strong>"Tiền cọc vỏ"</strong> và
                                <strong>"Tổng tiền"</strong> sẽ được cập nhật sau khi nhân viên cửa hàng liên hệ để xác
                                nhận thông tin đơn hàng.</p>
                        </div>
                    </div>
                    <input type="submit" value="Đặt hàng" class="btnCheckOut">
                </form>
            </div>
        </div>
        <div class="col-25">
            <div class="container-checkout">
                <h4>Giỏ hàng <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b>4</b></span>
                </h4>
                <p><a href="#">Product 1</a> <span class="price">$15</span></p>
                <p><a href="#">Product 2</a> <span class="price">$5</span></p>
                <p><a href="#">Product 3</a> <span class="price">$8</span></p>
                <p><a href="#">Product 4</a> <span class="price">$2</span></p>
                <hr>
                <p>Tổng tiền sản phẩm <span class="price" style="color:black"><b>$30</b></span></p>
                <p>Tiền cọc vỏ <span class="price" style="color:black"><b>$10</b></span></p>
                <p>Tổng tiền <span class="price" style="color:black"><b>$40</b></span></p>
            </div>
        </div>
    </div>

    <!-- footer-->
    <div include-html="footer.html" id="footer"></div>
    <!--js for toggle menu-->
    <!-- <script src="/js/header.js"></script> -->
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/include-html.min.js"></script>
    <script src="../js/fnon.min.js"></script>
    <script src="../js/validation/checkout_validation.js">
    </script>
    <script src="../js/validation/alert.js"></script>



</body>

</html>