<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        LGSMS-ALl Product
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="header">
        <div include-html="header.html" id="header"></div>
    </div>

    <!-- Feature product-->
    <div class="small-container product_section">
        <div class="row row-2">
            <h2 class="">Tất cả sản phẩm
                <hr>
            </h2>
            <select>
                <option>Mặc định</option>
                <option>Xếp theo giá</option>
                <option>Xếp theo A-Z</option>
            </select>
        </div>

        <div class="row">
            <div class="col-4">
                <div class="box">
                    <div class="option_container">
                        <div class="options">
                            <a href="" class="option1">
                             Thêm vào giỏ
                             </a>
                            <a href="" class="option2">
                                Mua ngay
                            </a>
                            <a href="" class="option3">
                               Chi tiết
                             </a>
                        </div>
                    </div>
                    <div class="img-box">
                        <img src="../images/product-1.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Men's Shirt
                        </h5>

                        <h6>
                            $75
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="box">
                    <div class="option_container">
                        <div class="options">
                            <a href="" class="option1">
                             Thêm vào giỏ
                             </a>
                            <a href="" class="option2">
                                Mua ngay
                            </a>
                            <a href="" class="option3">
                               Chi tiết
                             </a>
                        </div>
                    </div>
                    <div class="img-box">
                        <img src="../images/product-1.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Men's Shirt
                        </h5>

                        <h6>
                            $75
                        </h6>
                    </div>
                </div>

            </div>
            <div class="col-4">
                <div class="box">
                    <div class="option_container">
                        <div class="options">
                            <a href="" class="option1">
                             Thêm vào giỏ
                             </a>
                            <a href="" class="option2">
                                Mua ngay
                            </a>
                            <a href="" class="option3">
                               Chi tiết
                             </a>
                        </div>
                    </div>
                    <div class="img-box">
                        <img src="../images/product-1.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Men's Shirt
                        </h5>

                        <h6>
                            $75
                        </h6>
                    </div>
                </div>

            </div>
            <div class="col-4">
                <div class="box">
                    <div class="option_container">
                        <div class="options">
                            <a href="" class="option1">
                             Thêm vào giỏ
                             </a>
                            <a href="" class="option2">
                                Mua ngay
                            </a>
                            <a href="" class="option3">
                               Chi tiết
                             </a>
                        </div>
                    </div>
                    <div class="img-box">
                        <img src="../images/product-1.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Men's Shirt
                        </h5>

                        <h6>
                            $75
                        </h6>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- footer-->
    <div include-html="footer.html" id="footer"></div>
    <!-- footer-->

    <!-- footer-->

    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/include-html.min.js"></script>
</body>

</html>